@model IEnumerable<ApiCentroMedicoClient.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_EstadoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_TipoUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_EstadoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_TipoUsuario)
            </td>
            <td>
                <a asp-controller="CentroMedicoClient" asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
